-i https://pypi.org/simple
atomicwrites==1.3.0
attrs==19.1.0
elementpath==1.2.1
importlib-metadata==0.20
lxml==4.4.1
more-itertools==7.2.0
numpy==1.17.1
packaging==19.1
pluggy==0.12.0
py==1.8.0
pyparsing==2.4.2
pytest==5.0.1
six==1.12.0
wcwidth==0.1.7
xmlschema==1.0.14
zipp==0.6.0
